@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.body-home, .body-login {
	
	background-size: cover;
	background-attachment: fixed;
}
.black-fill {
	background: rgba(0,0,0, 0.7);
	min-height: 100vh;
	font-weight: bold;
}

.black-fill select{
	font-weight: bold;
}

.black-fill button{
	font-weight: bold;
}

.black-fill .btn{
	font-weight: bold;
	background-color: rgba(0,0,0, 0.6);
}

.black-fill .btn:hover{
	 background-color: rgba(0,0,0, 0.3);;

}

/* .black-fill Button:hover{
	background-color:  rgba(11, 235, 67);
} */

.black-fill .mb-3 input{
	font-weight: bold;
}
#homeNav {
	background: rgba(255,255,255, 0.5) !important;
}
.welcome-text {
	min-height: 80vh;
}
.welcome-text img {
	width: 100px;
}
.welcome-text h4 {
	color: #eee;
	font-size: 51px;
	font-family: 'Lobster', cursive;

}
.welcome-text p {
	color: #222;
	background: rgba(255,255,255, 0.5);
	padding: 5px;
	font-weight: 500;
	font-size: 50px;
	border-radius: 4px;
}
textarea {
	resize: none;
}

.login {
	max-width: 500px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 10px;
	border-radius: 10px;
}
.login h3{
	text-align: center;
	font-size: 50px;
}
.w-450 {
	width: 450px;
}
.n-table {
	max-width: 800px;
}
.form-w {
	max-width: 600px;
	width: 100%;
}



.btn-primary {
    background-color: #0056b3 !important;
    border-color: #0056b3 !important;
}

.btn-primary:hover {
    background-color: #004494 !important; /* Slightly darker shade for hover effect */
    border-color: #004494 !important;
}

/* Navbar background color */
.navbar.bg-primary {
    background-color: #0056b3 !important;
}

/* Navbar links */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important; /* White text for links */
    transition: color 0.3s ease;
}

/* Navbar link hover effect */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #cce5ff !important; /* Light blue for hover */
}

/* Active link styling */
.navbar-dark .navbar-nav .nav-link.active {
    color: #cce5ff !important; /* Light blue for the active link */
}

.nav-link:hover {
	color: #0056b3; /* Gold color for hover effect */
	text-decoration: underline; /* Optional underline on hover */
	transition: color 0.3s ease-in-out;
  }


  